@import url('./fonts/stylesheet.css');

body{
    font-family: 'TT Lakes';
    margin:0;
    padding: 0;
}
nav{
    width:320px ;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.nav-header{
    display: flex;
    justify-content: space-between;
    padding: 18px 24px 46px;
}
.nav-header__left-side , .nav__header___right-side{
    display: flex;
    align-items: center;
}
.nav-header__left-side__img{
    margin-right:16px;
}
.nav__aside__ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav__aside__ul li {
    display: flex;
    align-items:center;
    height: 32px;
    padding:6px 0px 6px 24px;
}
.nav__aside__ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    transition: width .3s ease-in-out;
}
.nav__aside__ul li:hover{
    background: #FF3E79;
    opacity: 0.8;
    color: #1B1C21;
}
.nav__aside__ul li:first-child{
    border-left: 4px solid #41F6D7;
}
.nav__aside__ul .active{
    color: #7E7E82;
}
.nav__aside__ul .active:hover{
    color: #1B1C21;
}
.footer{
    margin: 262px 0px 32px 24px;
}
.footer__menu{
    display: flex;
    width: 154px;
    justify-content: space-between;
    margin-bottom: 16px;
}
.footer__email{
    margin-bottom: 12px;
}
.footer .footer__mobile{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom:40px;
}
.footer__change-language{
    display: flex;
    width:88px;
    justify-content:space-between;
    padding-bottom: 32px;
}
.footer .footer__change-language__active{
    color: #7E7E82;
    cursor:pointer;
}